{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "destructuring": true
  },
  "globals": {
  },
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "extends": ["xo", "xo-react"],
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "indent": [2, 2],
    "react/prop-types": 0,
    "react/jsx-indent": [2, 2],
    "object-curly-spacing": [0, "never"],
  }
}
