{
  "env": {
    "node": true,
    "es6": true
  },
  ecmaFeatures: {
    "jsx": true,
    "modules": true,
    "destructuring": true
  },
  "globals": {
  },
  "plugins": [
  ],
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "react/prop-types": 0
  }
}
